.main-chat-info {
  width: 27%;
  height: 100vh;
  /* border: 1px solid red; */
  background-color: var(--background-secundary-color);
  padding: 0 20px 0 25px;
  overflow: scroll;
}

/* Chat Info Scrollbar */

.main-chat-info::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

.main-chat-info::-webkit-scrollbar-track {
  background-color: var(--background-secundary-color);
}

.main-chat-info::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}


/* Chat Info main container */

.chat-info-close-button-container {
  text-align: right;
  margin-top: 20px;
}

.main-info-close-button {
  color: var(--font-grey-color);
  width: 23px;
  height: 23px;
  cursor: pointer;
}

/* Main Info */

.chat-info-main-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.main-info-img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(255, 255, 255, 1);
}

.main-info-name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.main-info-email {
  font-size: 14px;
  color: var(--link-color);
}

/*  */

.main-info-icons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.main-info-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--font-grey-color);
  border-radius: 50%;
  cursor: pointer;
}

.main-info-icon {
  width: 18px;
  height: 18px;
  margin: 10px;
}

/* Shares files */

.chat-info-shared-files {
  margin-top: 30px;
}

.shared-files-title {
  font-size: 14px;
  color: var(--font-grey-color);
  font-weight: 600;
}

.shared-files-container {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  gap: 15px;
}

.shared-file {
  display: flex;
  align-items: center;
}

.shared-file-img {
  height: 40px;
  border: 1px solid var(--font-grey-color);
  border-radius: 3px;
}

.shared-file-info {
  padding-left: 13px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}

.shared-file-name {
  font-size: 13px;
  font-weight: 500;
}
 
.shared-file-details-container {
  display: flex;
  align-items: center;
}

.shared-file-details-container > span {
  font-size: 12px;
  color: var(--font-grey-main-color);
}

.shared-file-details-container .dot {
  margin: 5px;
}

.download-icon {
  width: 25px;
  height: 25px;
  color: var(--font-grey-color);
  cursor: pointer;
}

/* Chat Info actions container */

.chat-info-actions-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.chat-info-actions-container > button {
  text-align: left;
  padding: 13px 5px 13px 5px;
  background-color: var(--background-secundary-color);
  color: var(--font-main-color);
  font-size: 14px;
  border: none;
  outline: none;
  border-top: 1px solid #3b3e47;
  cursor: pointer;
}

.chat-info-actions-container > button:hover {
  background-color: var(--background-lighter-color);
}

/* Keyframes */

@keyframes grow-chat-info {
    0% {
      width: 0%;
  }
  100% {
    width: 27%;
  }
}

@keyframes grow-chat-info-mobile {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}



